<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ArticleDao">
  <resultMap id="BaseResultMap" type="com.example.entity.Article">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="article_tag_id" jdbcType="INTEGER" property="articleTagId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>




  <select id="selectArticleList" parameterType="com.example.entity.Article" resultType="Map">
    SELECT
    a.article_id AS articleId,
    a.article_tag_id AS articleTag,
    u.user_name AS userName,
    u.user_phone AS userPhone,
    a.article_title AS articleTitle,
    at.article_tag as articleTagName,
    a.content,
    a. status,
    DATE_FORMAT(
    a.create_time,
    '%Y-%m-%d %H:%i'
    ) AS createTime
    FROM
    article a
    LEFT JOIN user_account u ON a.user_id = u.user_uuid
    LEFT JOIN article_tag at on a.article_tag_id = at.article_tag_id
    WHERE
    IF (u.user_phone != #{user.userPhone},a.article_tag_id !=1,a.article_tag_id is not NULL)
    and a.status != '2000'
    <if test="article.articleId !=null and article.articleId != ''">
      AND a.article_id = #{article.articleId}
    </if>
    <if test="article.articleId !=null and article.articleId != ''">
      AND a.article_id = #{article.articleId}
    </if>
    <if test="user.userPhone !=null and user.userPhone != '' and detail != null">
      AND u.user_phone = #{user.userPhone}
    </if>
    <if test="article.articleTagId !=null and article.articleTagId != ''">
      AND a.article_tag_id = #{article.articleTagId}
    </if>
    order by a.create_time desc

  </select>

  <select id="classify" parameterType="String" resultType="Map">
    SELECT
    article_tag_id AS articleTagId,
    article_tag AS articleTag
    FROM
    article_tag
    WHERE
    1 = 1
    <if test="exclude !=null and exclude != ''">
      AND article_tag != '心情日志'
    </if>
  </select>

</mapper>