<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.example.entity.UserAccount">
    <id column="user_uuid" jdbcType="INTEGER" property="userUuid" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="user_tag" jdbcType="VARCHAR" property="userTag" />
    <result column="user_pic" jdbcType="VARCHAR" property="userPic" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


  <select id="checkUser" parameterType="com.example.entity.UserAccount" resultType="com.example.entity.UserAccount">
    SELECT
	salt,
	PASSWORD,
	role_id AS roleId,
	user_phone AS userPhone,
	user_name AS userNme,
	user_pic as userPic,
	status
    FROM
	user_account
	where (user_phone = #{userAccount.userName}
			or user_name= #{userAccount.userName})
			and role_id = #{userAccount.roleId}
  </select>


  <select id="selectUserList" parameterType="com.example.entity.UserAccount" resultType="Map">
    SELECT
    u.user_uuid AS userUuid,
    u.user_name AS userName,
    u.user_phone AS userPhone,
    u.user_pic as userPic,
    u.role_id AS roleId,
    u.age,
    DATE_FORMAT(u.birthday, '%Y-%m-%d') AS birthday,
    u.province AS provinceV,
    u.city AS cityV,
    u.sex,
    p.province,
    c.city,
    u.address,
    u.user_tag AS userTag,
    (SELECT
    GROUP_CONCAT(a.article_tag)
    FROM
    article_tag a
    WHERE
    FIND_IN_SET(
    a.article_tag_id,
    u.user_tag)
    ) AS userTagName,
    u. STATUS,
    DATE_FORMAT(
    u.create_time,
    '%Y-%m-%d %H:%i'
    ) AS createTime
    FROM
    user_account u
    LEFT JOIN province p ON p.svalue = u.province
    LEFT JOIN province c ON c.svalue = u.city
    WHERE
    1 = 1
    <if test="userAccount.userPhone !=null and userAccount.userPhone != ''">
      AND u.user_phone = #{userAccount.userPhone}
    </if>

  </select>
</mapper>